{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merriweather+Sans&display=swap" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <div class="contanier">
        <div class="header">
            <a href="{% url 'index' %}">
                <h1>COOL BLACKJACK</h1>
            </a>
            <img src="{% static 'img/signala.png' %}" alt="Signal logo" height="120px" id="signal">
        </div>
        <div class="body">
            {% block body_content %}
            {% endblock %}
        </div>
        <div class="footer">
            <hr color="#e6bf33">
            <p>Developed by Alberto Alfaro using Django and React, 2023.</p>
            <p>GNU General Public License v3.0.</p>
            <p>Public repository is available <a href="https://github.com/alfaro05/blackjack">here</a>.</p>
        </div>
    </div>
    <script type="text/javascript">
        let imgA = "../static/img/signala.png"
        let imgB = "../static/img/signalb.png"
    </script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>