{% extends 'base.html' %}
{% load static %}
{% block title %}Let's start!{% endblock %}

{% block body_content %}
<h2>Let's Begin!</h2>
<h3>Opponent's Hand</h3>
<div class="hand-area">
    {% for i in fph %}
        <div class="bot-card card hide">{{i}}</div>        
    {% endfor %}
</div>
<h3>My Hand</h3>
<div class="hand-area">
    {% for i in sph %}
        <div class="player-card card">{{i}}</div>        
    {% endfor %}
</div>
<form action="next_round" method="post">
    {% csrf_token %}
    <button name="continue" value="True" class="button">Take</button>
    <button name="continue" value="False" class="button">Stand</button>
</form>
{{deck}}
{% endblock %}

{% block scripts %}
<script src="{% static 'react/cards.js'%}" type="text/babel"></script>
{% endblock %}