{% extends 'base.html' %}
{% load static %}

{% block body_content %}
<h3>Opponent's Hand</h3>
<div class="hand-area">
    {% for i in fph %}
        <div class="bot-card card hide hidden">{{i}}</div>        
    {% endfor %}
</div>
<h3>My Hand</h3>
<div class="hand-area">
    {% for i in sph %}
        <div class="player-card card hidden">{{i}}</div>        
    {% endfor %}
</div>
{% if game_over %}
<div>
    <p class="first-message hidden">Game Over!</p>
    <p class="second-message hidden">{{message}}</p>
    <a href="{% url 'game' %}" id="show-button" class="hidden button">Try again</a>
</div>
{% else %}
<form action="next_round" method="post">
    {% csrf_token %}
    <button name="continue" value="True">Take</button>
    <button name="continue" value="False">Stand</button>
</form>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'react/cards.js'%}" type="text/babel"></script>
<script src="{% static 'js/results.js'%}" type="text/babel"></script>
{% endblock %}